<div style="margin-left: 8cm; margin-right: 8cm; margin-top:2cm">
    <section>
        <h2 class="text-center text-primary"><strong>About us </strong></h2>
        <h4>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;India is urbanizing at a faster rate than any country in human history. As crores of individuals migrate to cities over the next decade, it will be imperative to create sustainable mobility solutions for
            people to get around their city.We exist for a simple reason: we want to drive India's transformation to sustainable transportation. Unlike other providers, RideOClock is laser focused on creating self-drive solutions for the current mobility
            predicament.
        </h4>
        <h4>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; It's still early days and while the road before us will certainly have many twists and turns, the sustainable light at the end of the tunnel is what motivates us day in, day out. With an intense focus on
            creating a world class user experience through technology, data science, and product, RideOClock is determined to lead this revolution from the front. We're looking for similar mission driven individuals to join us on this self-driven quest.
            We look forward to hearing from you!
        </h4>
    </section>
</div>



<section class="why newupdatewhy">
    <div class="container">
        <div class="text-h2">Why Avis?</div>
        <ul class="block-5">
            <li><span class="price"></span>
                <div class="text-h3">
                    Best Price
                    <br> Guarantee
                </div>
            </li>
            <li><span class="care"></span>
                <div class="text-h3">
                    24x7
                    <br> Customer Care
                </div>
            </li>
            <li><span class="global"></span>
                <div class="text-h3">
                    International
                    <br> Self Drive
                </div>
            </li>
            <li><span class="customer"></span>
                <div class="text-h3">
                    Customer
                    <br> Satisfaction
                </div>
            </li>
            <li><span class="discount"></span>
                <div class="text-h3">
                    Excellent
                    <br> Car Hire Discounts
                </div>
            </li>
            <li><span class="avis-secure"></span>
                <div class="text-h3">
                    Avis Secure
                    <br> (Call in Lady Traveler)
                </div>
            </li>
        </ul>
    </div>
</section>