<div style="margin-left: 5cm; margin-right: 5cm; margin-top:2cm">
    <section>
        <h3 style="text-align:center "><strong>About us </strong></h3>
        <h4 style="text-align:center ">
            India is urbanizing at a faster rate than any country in human history. As crores of individuals migrate to cities over the next decade, it will be imperative to create sustainable mobility solutions for people to get around their city.We exist for a
            simple reason: we want to drive India's transformation to sustainable transportation. Unlike other providers, RideOClock is laser focused on creating self-drive solutions for the current mobility predicament.
        </h4>


        <h4 style="text-align:center ">
            We exist for a simple reason: we want to drive India's transformation to sustainable transportation. Unlike other providers, RideOClock is laser focused on creating self-drive solutions for the current mobility predicament. It's still early days and while
            the road before us will certainly have many twists and turns, the sustainable light at the end of the tunnel is what motivates us day in, day out. With an intense focus on creating a world class user experience through technology, data science,
            and product, RideOClock is determined to lead this revolution from the front. We're looking for similar mission driven individuals to join us on this self-driven quest. We look forward to hearing from you!

        </h4>
    </section>
</div>
