<div class="container" style=" margin-bottom:2cm; margin-top: 0.5cm;">
    <h2 class=" text-primary">Booking History</h2>
    <hr class="mb-4">
    <div>
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">startDate</th>
                        <th scope="col">endDate</th>
                        <th scope="col">First Name</th>
                        <th scope="col">last Name</th>
                        <th scope="col">carType</th>
                        <th scope="col">car</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of members.bookings">
                        <td>{{booking.startDate}}</td>
                        <td>{{booking.endDate}}</td>
                        <td>{{booking.firstName}}</td>
                        <td>{{booking.lastName}}</td>
                        <td>{{booking.cartype}}</td>
                        <td>{{booking.car}}</td>
                        <td>
                            <button class="btn btn-danger " type="button">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
