<div class="container" style=" margin-bottom:2cm; margin-top: 0.5cm;">
    <h2 class=" text-primary">Book your Car</h2>
    <form [formGroup]='BookingForm' (ngSubmit)="Book()" autocomplete="off">
        <div class="text-center-md md-10">

            <div class="col-xs-12 col-12 col-md-5">
                <div class="form-group">
                    <label for="firstName"><strong>First name</strong></label>
                    <input type="text" class="form-control" formControlName='firstName' placeholder="firstName">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-12 col-md-5 form-group">
                <div class="form-group">
                    <label for="lastName"><strong>Last name</strong></label>
                    <input type="text" class="form-control" formControlName='lastName' placeholder="lastName">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-12 col-md-5 form-group">
                <div class="form-group">
                    <label for="firstName"><strong>Start Date</strong></label>
                    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }" [minDate]="today" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                </div>
            </div>
            <div class="col-xs-12 col-12 col-md-5 form-group">
                <div class="form-group">
                    <label for="lastName"><strong>End Date</strong></label>
                    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }" [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                </div>
            </div>
            <!--
               <div class="col-xs-12 col-12 col-md-5 form-group">

                 <div class="form-group">
                    <label class="control-label" for="Country">Choose CarType:</label>
                    <select *ngIf="getCarType()" [(ngModel)]="selectedCarType" (change)="onSelectCarType($event.target.value)">
                      <option value="0">Select CarType</option>
                      <option *ngFor="let CarType of getCarType()" value= {{CarType.id}}>{{CarType.name}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="col-xs-12 col-12 col-md-5 form-group">
                <div class="form-group">
                    <label class="control-label" for="City">City:</label>
                    <select class="form-control input-lg" id="city">
                      <option *ngIf="!selectedCarType" value="0">Select car</option>
                      <option *ngFor="let car of Car" value= {{car.id}}>{{car.name}}</option>
                    </select>
                </div>
              </div>
            -->


        </div>
        <div class="col-xs-12 col-12 col-md-5 form-group">
        </div>
        <br class="mb-4">
        <div class="form-group ">
            <button class="btn btn-success mr-2" type="submit">confirm Booking</button>
            <button class="btn btn-default mr-2" (click)="cancel()" type="button" routerLink="/">Cancel</button>
        </div>

    </form>
</div>
